services:
  web:
    build: .
    ports:
      - "5000:5000"
    environment:
      - REDIS_PASSWORD=pass123 # C'est ici que Python va lire la valeur
    depends_on:
      - redis

  redis:
    image: redis:alpine
    command: redis-server --requirepass pass123 # Mot de passe Redis