name: Security Scan IA

on: [push]

jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - name: Récupérer le code
        uses: actions/checkout@v4

      - name: Installer Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Lancer l'Analyse de Sécurité
        run: |
          python -c "
          from scanner import VulnerabilityScanner
          s = VulnerabilityScanner()
          # On lit le fichier app.py que tu viens de pusher
          code = open('app.py').read()
          result = s.scan(code)
          print(f'Verdict: {result}')
          
          # Si le résultat contient autre chose que SÉCURISÉ, on bloque tout
          if 'SÉCURISÉ' not in result:
              print('--- ALERTE ROUGE : FAILLE DÉTECTÉE ! ---')
              exit(1)
          "