name: Security Scan IA
on: [push]
jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.9'
      - name: Lancer le Scan
        run: |
          python -c "
          from scanner import VulnerabilityScanner
          s = VulnerabilityScanner()
          with open('app.py', 'r') as f:
              code = f.read()
          res = s.scan(code)
          print(f'Verdict: {res}')
          if 'Alerte' in res:
              exit(1)
          "